@model IPagedList<PrestamoViewModel>

@{
    ViewBag.Title = "Prestamos";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Prestamos</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Prestamos", "Index")
            </li>
        </ol>
    </div>
</div>

<h2>Listado de prestamos</h2>

<p>
    @Html.ActionLink("Nuevo Prestamo", "Create", null, new { @class = "btn btn-success" })
</p>

@Html.Partial("_Prestamos", Model)